@import url("https://fonts.google.com/specimen/Ysabeau");

:root {
    --primary-color: #f90505;
    --secondary-color: #7D84B2;
    --accent1-color: #8FA6CB;
    --accent2-color: #000000;

    --heading-font: "Ysabeau", serif;
    --paragraph-font: "Arial Black", serif;

    --nav-background-color: #000000;
    --nav-link-color: #D5F9DE;
    --nav-hover-link-color: #2558AA;
    --nav-hover-background-color: #07F643;
}

body {
    font-family: "Ysabeau";
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

h1 {
    font-family: "Arial Black";
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}